SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="00:21:cc:bf:eb:b5", ATTR{dev_id}=="0x0", ATTR{type}=="1", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="24:77:03:af:bf:30", ATTR{dev_id}=="0x0", ATTR{type}=="1", NAME="eth1"
