SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="28:d2:44:1c:fb:17", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth1"
